.container .article h1 {
  color: red;
  display: flex;
  justify-content: flex-start;
}
.container h2 {
  display: flex;
  justify-content: center;

}
.container .article h3 {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
.container .article p {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  color: rgb(59, 20, 121);
}
.container .article {
  background-color: #8af0f0;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  backface-visibility: hidden;
  transform: translate(0);
  transition: transform 0.25 ease-out;
  margin-bottom: 1rem;
}
.container .article footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  color: red;
}
